.gamearea{
height:510px;
width:510px;
background-color:cyan;
font-color:blue;
font-family:Kristen ITC;
align:center;
vertical-align:center;
display:block;
border:5px dashed white;
margin-left:25%;
margin-top:15%;
}
.row{
height:125px;
width:500px;
background-color:pink;
font-color:blue;
display:block;
border:2px solid black;
border-radius:5%;
}
.cell{
height:120px;
width:120px;
background-color:yellow;
display:inline-block;
border:1px solid dashed red;
border-radius:1%;
font-size:50;
text-align:center;
vertical-align:middle;
}
.footer{
height:150px;
width:300px;
background-color:green;
display:inline-block;
border:5px solid dashed red;
border-radius:1%;
font-size:25;
text-align:center;
vertical-align:middle;
margin-top:2%;
margin-left:35%;
}
