---
layout: archive
---
<style>
  #news.scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
</style>
{{ content }}
<div id="news">
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Updates" }}</h3>
  <b>May 2024</b>: I'm attending the <a href="https://www.rsaconference.com/">RSA conference</a> as a <a href="https://www.rsaconference.com/rsac-programs/security-scholar">Security Scholar</a> in San Franscisco!
  <b>Mar 2024</b>: <b>New Paper Accepted:</b> Our work on "Understanding Parents’ Perceptions and Practices Toward Children’s Security and Privacy in Virtual Reality" has been accepted at <a href="https://sp2024.ieee-security.org/index.html">IEEE S&P 2024</a><br/>
  <b>Feb 2024</b>: <b>First Paper Accepted:</b> Our work on VR harassment and safety controls ("Enabling Developers, Protecting Users: Investigating Harassment and Safety in VR") has been accepted at <a href="https://www.usenix.org/conference/usenixsecurity24">USENIX Security 2024</a>(<a href="https://arxiv.org/abs/2403.05499">preprint</a>)<br/>
  <b>Feb 2024</b>: I’m presenting our work on VR harassment and safety controls at the <a href="https://www.nc-pace.org/2024-speakers">3rd Annual North Carolina Cybersecurity Symposium</a><br/>
  <b>Nov 2023</b>: I passed my Written Preliminary Examination at NC State!<br/>
  <b>Aug 2023</b>: I’m serving on the USENIX Security '24 Artifact Evaluation committee<br/>
  <b>Aug 2023</b>: I’m presenting a poster titled <a href="../resources/asb_usenix2023_poster.pdf">"Virtual Adventures, Real Challenges: Analyzing Harassment Controls in VR"</a> at USENIX Security 2023<br/>
  <b>Aug 2023</b>: I’m attending GREPSEC VI!<br/>
  <b>Jun 2023</b>: I’m serving on the USENIX Security '23 Artifact Evaluation committee<br/>
  <b>Apr 2023</b>: I've been honored with the College of Engineering Graduate Enhancement Award at NC State<br/>
  <b>Apr 2023</b>: I'm presenting a poster at the Graduate Student Symposium, NC State<br/>
  <b>Mar 2023</b>: I'm attending WiCys 2023 at Denver, Colorado<br/>
  <b>Jan 2023</b>: I'm the teaching assistant for CSC 433: Privacy in the Digital Age<br/>
  <b>Aug 2022</b>: Started my Ph.D. at NC State!
  <!-- {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %} -->
  
  <!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  
  {% include paginator.html %} -->
</div>



<!-- <script type="text/javascript">
  window.onscroll = function() {myScrollFunction()};
  function myScrollFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myScrollBar").style.width = scrolled + "%";
  }
  </script> -->
